/* Возможно, я как-то не так проверяла, но у меня отступ сохраняется */

.header__lang-link {
  font-size: 24px;
  color: #e5e5e5;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-decoration: none;
}

.header__lang-link:nth-child(1) {
  padding-right: 18px;
}

.header__lang-link:hover {
  opacity: .8;
  transition: 1s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

