.places {
  max-width: 984px;
  margin: auto;
  padding: 0;
}

 @media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1000px) {
  .places {
    /* max-width: 720px; */
    margin: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    min-width: 320px;
    margin: 0;
  }
}
