.lead {
  /* outline: 1px red solid; */
  margin: auto;
  max-width: 984px;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
