.place__paragraph {
  /* outline: 1px red solid; */
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  color: #FFFFFF;
  max-width: 484px;
}


.place__paragraph:nth-child(1) {
  /* outline: 1px red solid; */
  padding-bottom: 26px;
}
 @media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 978px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    /* padding-left: 16px; */
    padding: 0 16px;
  }
}
