.place__paragraph {
  /* outline: 1px red solid; */
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  color: #FFFFFF;
  max-width: 484px;
  white-space:pre-line;
}

 @media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    padding-left: 16px;

  }
}
